name: CI Pipeline

on:
  push:
    branches: [ main ]
  workflow_dispatch:

env:
  APP_IMAGE_NAME: 127.0.0.1:5000/saip
  DOCKER_USERNAME: admin
  DOCKER_PASSWORD: hhelibeblxyhh123

jobs:
  test:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3

      - name: Show current directory
        run: pwd

      - name: List files
        run: ls -al

      - name: Run Maven tests
        working-directory: backend
        run: mvn test


  build_and_push:
    needs: test
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3

      - name: Log in to local Nexus (127.0.0.1:5000)
        run: docker login 127.0.0.1:5000 -u $DOCKER_USERNAME -p $DOCKER_PASSWORD

      - name: Package Spring Boot app
        working-directory: backend
        run: mvn clean package -DskipTests

      - name: Build and push image to local Nexus
        working-directory: backend
        run: |
          docker build \
            -t $APP_IMAGE_NAME:${{ github.run_number }} \
            -t $APP_IMAGE_NAME:latest .
          docker push $APP_IMAGE_NAME:${{ github.run_number }}
          docker push $APP_IMAGE_NAME:latest


  deploy_local:
    needs: build_and_push
    runs-on: self-hosted
    steps:
      - name: Log in to local Nexus
        run: docker login 127.0.0.1:5000 -u $DOCKER_USERNAME -p $DOCKER_PASSWORD

      - name: Deploy backend container
        run: |
          docker pull $APP_IMAGE_NAME:latest
          docker stop saip || true
          docker rm saip || true
          docker run -d --name saip \
            --network devuser_default \
            -e SPRING_PROFILES_ACTIVE=cloud \
            -p 8080:8080 \
            $APP_IMAGE_NAME:latest

      - name: Deploy frontend with Python server
        working-directory: frontend
        run: |
          fuser -k 5005/tcp || true
          nohup python3 -m http.server 5005 --bind 0.0.0.0 > frontend.log 2>&1 &

